.text-success{
	color: #00CC66!important;
}
@media only screen and (min-width: 576px){
	.container{
		padding-left: 0;
		padding-right: 0;
	}
}
/*============
 Стили для навбара
=============== */
/* Общие стили навбара */
.navbar{
	min-height: 80px;
	background: #fff;
	transition: background 0.2s;
}
.nav-link {
	padding: .3rem 1.0625rem;
}
.navbar .navbar-nav .nav-link{
	transition: color 0.2s;
	color: #212121;
}
.navbar .navbar-user .nav-link,
.navbar .navbar-sign-in .nav-link{
	position: relative;
	color: #212121;
}
.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active{
	color: #00CC66;
}
.navbar .navbar-sign-in .nav-link:first-child:after{
	content:'';
	position: absolute;
	display: inline-block;
	height: 4px;
	width: 4px;
	background: #fff;
	border-radius: 50%;
	top: calc(50% - 2px);
	right: -2px;
}
.navbar-my-menu a{
	font-weight: bold;
	line-height: 24px;
	font-size: 18px;
	color: #212121;
}
.navbar .navbar-user .nav-link,
.navbar .navbar-sign-in .nav-link{
	color: #A3A4A6;
}
.navbar .navbar-toggler{
	color: #a3a4a6;
	border:1px solid #a3a4a6;
}
.navbar.bg-white .navbar-toggler{
	color: #a3a4a6;
	border:1px solid #a3a4a6;
}
.navbar-toggler-icon{
	width: auto;
	height: auto;
	font-size: 20px;
}
.navbar.bg-white .navbar-toggler-icon{
	background: transparent;
}

@media(min-width: 992px){
	.navbar{
		background: transparent;
	}
	.navbar .navbar-nav .nav-link{
		color: #fff;
	}
	.navbar .navbar-user .nav-link,
	.navbar .navbar-sign-in .nav-link{
		color: #fff;
	}
}

/* Цвета для белого навбара */
.navbar.bg-white{
	box-shadow: 0px 0px 30px rgba(196, 196, 196, 0.25);
}
.navbar.bg-white .navbar-nav .nav-link{
	color: #212121;
}
.navbar.bg-white .navbar-nav .nav-link:hover,
.navbar.bg-white .navbar-nav .nav-link.active{
	color: #00CC66;
}
.navbar.bg-white .navbar-user .nav-link,
.navbar.bg-white .navbar-sign-in .nav-link{
	color: #A3A4A6;
}
.navbar.bg-white .navbar-user .nav-link:hover,
.navbar.bg-white .navbar-sign-in .nav-link:hover{
	color: #00CC66;
}
.navbar.bg-white .navbar-sign-in .nav-link:first-child:after{
	background: #A3A4A6;
}

@media (min-width: 992px) {
	.nav-link {
		display: block;
		padding: .57rem 1.0625rem;
	}
	.navbar .navbar-sign-in .nav-link:first-child:after{
		display: inline-block;
	}
}
/*====
Общие элементы
===== */

.main_title{
	margin-top: 100px;
	font-weight: bold;
	line-height: 36px;
	font-size: 28px;
	color: #595959;
}
.second-title{
	font-weight: bold;
	line-height: 59px;
	font-size: 28px;
	color: #595959;
}
.breadcrumbs{
	font-weight: 300;
	line-height: 23px;
	font-size: 11px;
	letter-spacing: -0.02em;
	color: #AFAFAF;
}

.lending__header{
	background: url('../img/bg/main-bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.pagination a{
	margin: 0 5px;
}

.card-body{
	padding: 15px;
}
.card h3{
	margin-bottom: 0;
	line-height: 25px;
	font-size: 18px;
	color: #555555;
}
.card p{
	margin-bottom: 0;
	font-weight: 300;
	line-height: 15px;
	font-size: 11px;
	color: #ADADAD;
}
.card p.big-text{
	font-weight: 500;
	line-height: 23px;
	font-size: 16px;
	color:#555;
}
.btn{
	text-transform: none;
}
.btn-success{
	background-color: #00CC66;
}
.x-small{
	line-height: 14px;
	font-size: 10px;
}
/*=======
Каталог компании
=========*/
.cat-company-card{
	box-shadow: 0px 0px 20px rgba(144, 144, 144, 0.25);
}
.cat-company-card__logo{
	min-height: 100px;
	width: 100%;
}
/*=======
Каталог разделы
=========*/
.cat-sections__content-block{
	color:#fff;
	background: linear-gradient(90deg, #33D685 0%, #33D685 65%, rgba(51, 214, 133, 0) 100%), url("../img/catalog-section-main.png") no-repeat center right;
	background-size: auto 100%;
}
.cat-sections__content-block .main_title{
	color: #fff;
}
.cat-sections__content-block .breadcrumbs{
	color: #fff;
}
.cat-sections__description {
	line-height: 26px;
	font-size: 16px;
	color: #FFFFFF;
	margin-bottom: 40px;
	max-width: 600px;
}
.cat-sections__description p{
	margin-bottom: 5px;
}

/*
Популярные разделы
 */
.popular-section__card{
	height: 80px;
	box-shadow: 0px 0px 20px rgba(144, 144, 144, 0.25);
	transition: box-shadow 0.5s;
}
.popular-section__card:hover{
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
}
.popular-section__img img{
	height: 100%;
	width: auto;
}
.popular-section__list .card-body{
	padding: 5px 10px;
}
/*
Популярные услуги
 */
.popular-services__card{
	box-shadow: 0px 0px 20px rgba(144, 144, 144, 0.25);
	transition: box-shadow 0.5s;
}
.popular-services__card:hover{
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
}
.popular-services__img{
	position: relative;
}
.popular-services__img img{
	width: 100%;
	height: auto;
}
.popular-services__stars{
	position: absolute;
	left: 15px;
	top: 15px;
}
.popular-services__icon{
	width: 40px;
	height: 40px;
	position: absolute;
	top: 15px;
	right: 15px;
}

/***
Catalog Card
 */
.catalog-hero{
	background-size: cover;
	background-repeat: no-repeat;
}
.hero-title{
	padding-top: 40px;
	font-weight: bold;
	font-size: 28px;
	letter-spacing: -0.02em;

	color: #FFFFFF;
}
.breadcrumb-item, .breadcrumb-item a{
	font-weight: 300;
	font-size: 11px;
	letter-spacing: -0.02em;
}
.catalog-hero .breadcrumb-item, .catalog-hero .breadcrumb-item a{
	color: #fff;
}
.hero-description{
	padding-top: 40px;
	padding-bottom: 50px;
	font-weight: normal;
	line-height: 26px;
	font-size: 16px;
	color: #FFFFFF;
}
.hero-buttons{
	padding-bottom: 85px;
}
.hero-form{
	margin: 0 auto 1rem;
	background-color: #fff;
	width: 360px;
	max-width: 100%;
	padding: 15px 30px 30px;
}
.hero-form .cost{
	font-weight: normal;
	line-height: 23px;
	font-size: 18px;
	letter-spacing: -0.02em;

	color: #555555;
}
.hero-form .summary{
	font-weight: 500;
	line-height: 34px;
	font-size: 26px;
	letter-spacing: -0.02em;
	color: #555555;
}

.hero-form .btn.btn-success{
	font-weight: 500;
	font-size: 18px;
}
.ui-stars.text-success .ui-star>*:first-child{
	color: #00CC66;
}
.catalog-card .card-subtitle{
	padding-top: 60px;
	padding-bottom: 40px;
	font-weight: bold;
	font-size: 28px;
	letter-spacing: -0.02em;

	color: #595959;
}
.circle-logo-wrap{
	width: 80px;
	height: 80px;
	border: 1px solid #E8E8E8;
	padding: 6px;
	border-radius: 100%;
	align-items: center;
	display: flex;
}
.circle-logo-wrap img{
	max-width: 100%;
	max-height: 100%;
}
.review-body{
	font-weight: 300;
	line-height: 18px;
	font-size: 12px;

	color: #212121;
}
.review-images img{
	padding-right: 10px;
	width: 90px;
}
.read-more{
	font-weight: bold;
	cursor: pointer;
}


.order-hero-title{
	padding-top: 40px;
	font-weight: bold;
	font-size: 28px;
	letter-spacing: -0.02em;

	color: #212121;
}
.order-status{
	font-size: 12px;
	line-height: 30px;
	text-align: center;
	border-radius: 2px;
	border: 1px solid;
	width: 160px;
	display: inline-block;
	margin: 15px 0;
}
.status-progress{
	color: #C1C1C1;
	border-color: #C1C1C1;
}
.status-description{
	padding-left: 20px;
	font-weight: 300;
	line-height: 13px;
	font-size: 10px;

	color: #757575;
}
.table-xs td, .table-xs th{
	padding: 0;
	font-weight: 300;
	line-height: 18px;
	font-size: 12px;
}
.pb-6{
	padding-bottom: 85px;
}

.card-order-tabs .nav-tabs .nav-link{
	background-image: none;
	font-weight: bold;
	line-height: 59px;
	font-size: 28px;
	letter-spacing: -0.02em;
	padding: 0 5px;
	text-transform: none;
}
.chat-message-body{
	padding: 10px 20px;
	border-radius: 6px;
	-ms-flex-negative: 1 !important;
	flex-shrink: 1 !important;
}
.chat-messages .media{
	min-width: 180px;
}
.chat-message-right .chat-message-body{
	background-color: #6E6E6E;
	color: #fff;
}
.chat-message-left .chat-message-body{
	background-color: #E0FEEF;
}
.chat-message-date{
	text-align: right;
	font-weight: 300;
	line-height: normal;
	font-size: 9px;
}
.custom-file-input:lang(ru) ~ .custom-file-label::after {
	content: "Выбрать файл"
}
.material-style .sw-theme-default .sw-number, .material-style .sw-theme-default .sw-icon{
	color: #26B4FF;
	border-color: #26B4FF;
}
.material-style .sw-theme-default .sw-done-icon {
	border-color: #00CC66;
	color: #00CC66;
}
.sw-theme-default .step-anchor li>a{
	cursor: pointer;
}
.sw-theme-default .step-anchor li>a.active, .sw-theme-default .step-anchor li.done>a.active .sw-done-icon{
	opacity: 1;
}