.slider-title{
    padding-bottom: 15px;
    font-weight: 900;
    line-height: 82px;
    font-size: 78px;
    letter-spacing: -0.02em;
    color: #FFFFFF;
}
.slider-description{
    padding-bottom: 80px;
    line-height: 31px;
    font-size: 22px;
    letter-spacing: -0.02em;

    color: #FFFFFF;
}
#swiper .swiper-slide{
    padding-top: 220px;
    padding-bottom: 150px;
}
#swiper .swiper-pagination-bullet.swiper-pagination-bullet-active{
    background: #00CC66 !important;
}
#swiper .swiper-pagination-bullet{
    background: #959595 !important;
}
#swiper .swiper-pagination{
    bottom: 80px;
    right: 0;
    left: 0;
    text-align: left;
}
.title-1{
    font-weight: bold;
    line-height: 42px;
    font-size: 40px;
    text-align: center;
    letter-spacing: -0.02em;

    color: #212121;
}
.how-work .number{
    font-weight: 500;
    line-height: 76px;
    font-size: 72px;
    letter-spacing: -0.02em;
    color: #00CC66;
    opacity: 0.3;
}
.how-work .subtitle{
    margin-top: -30px;
}
.subtitle{
    padding-bottom: 10px;
    font-weight: 500;
    line-height: 34px;
    font-size: 32px;
    letter-spacing: -0.02em;
    color: #212121;
}
.description{
    line-height: 24px;
    font-size: 19px;
    letter-spacing: -0.02em;

    color: #212121;
}
.review .name{
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    color: #212121;
    margin-bottom: 5px;
}
@media only screen and (max-width: 767px){
    .slider-title{
        line-height: 60px;
        font-size: 55px;
    }
    .slider-description{
        line-height: 25px;
        font-size: 19px;
    }
    #swiper .swiper-slide{
        padding-top: 200px;
        padding-bottom: 130px;
    }
}
@media only screen and (max-width: 575px){
    .slider-title{
        line-height: 40px;
        font-size: 35px;
    }
    .slider-description{
        padding-bottom: 25px;
    }
    #swiper .swiper-slide{
        padding-top: 150px;
        padding-bottom: 130px;
    }
    .title-1 {
        line-height: 33px;
        font-size: 30px;
    }
    .subtitle {
        line-height: 30px;
        font-size: 25px;
    }
}